in:
  type: postgresql
  host: {{ env.HOST }}
  user: {{ env.USER }}
  password: {{ env.PASSWORD }}
  database: {{ env.DATABASE }}
  table: {{ env.TABLE }}
  column_options:
    picture: 
      value_type: string
    photo:
      value_type: string
out:
  type: stdout